body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1, h3, p {
	line-height: 150%;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 12px
}

.pic{
	width: 300px;
}

.lefty, .righty {
	margin-top: 20px;
	margin-bottom: 20px;
}

.lefty {
	float: left;
	margin-right: 20px;
}

.righty {
	float: left;
	margin-left: 20px;
}